{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
  <h1 class="form-title heading-large" style="margin: .5em 0 0">
    DS1500
  </h1>
  <p class="font-medium">Report to accompany your patient’s claim under Special&nbsp;Rules</p>

  <p>Doctor's report for:</p>
  <ul class="list-bullet">
    <li>Personal Independence Payment</li>
    <li>Disability Living Allowance</li>
    <li>Attendance Allowance</li>
    <li>Employment and Support Allowance</li>
    <li>Incapacity Benefit</li>
    <li>Universal Credit under special rules for terminal illness.</li>
  </ul>

  <p>

  </p><p>This report is intended for patients who are claiming benefit under Special Rules forterminally ill people.</p>

  <p>This is not a claim form, as doctors cannot claim on behalf of their patients. The DS1500 asks for factual
  information and does not require you to give a prognosis.</p>

  <h2 class="heading-medium">What we mean by terminally ill</h2>

  <p>In social security law someone is terminally ill if:</p>
  <ul class="list-bullet">
    <li>they are suffering from a progressive disease and, as a consequence of that disease</li>
    <li>are not expected to live longer than 6 months.</li>
  </ul>
  <p>You should issue form DS1500 only if requested by patients (or their representatives) and you consider that the patient may be suffering from a potentially terminal illness.</p>

  <h3 class="heading-small">Disability Living Allowance (DLA), Attendance Allowance (AA) and Personal Independence Payment (PIP) Incapacity Benefit (IB)</h3>

  <p>Under the Special Rules someone who is terminally ill can get DLA, AA or PIP:</p>
  <ul class="list-bullet">
    <li>even if they do not need help with looking after themselves</li>
    <li>straight away.</li>

  </ul>
  <p>Their claim will be treated as urgent.</p>

  <h3 class="heading-small">Incapacity Benefit (IB)</h3>
  <p>Normally, people claiming IB can get the highest rate of benefit after 52 weeks of sickness. But someone who is terminally ill
  can get the highest rate of IB after 28 weeks of sickness, and will not normally be required to attend for medical examination.</p>

  <h3 class="heading-small">Employment and Support Allowance (ESA) and Universal Credit</h3>

  <p>Under the Special Rules someone who is terminally ill will be placed immediately into the 'Support Group' category
  and awarded the highest rate of benefit.They will not be required to attend a medical assessment.</p>

  <h2 class="heading-medium">Patients who may not know the true nature of their illness</h2>
  <p>When a patient asks you for a DS1500 Report, please do not assume that they know that they are terminally ill. They may not fully understand what the Special Rules are.</p>
  <p>For Disability Living Allowance, Attendance Allowance and Personal Independence Payment only any person
  representing the patient may make a 3rd party claim on their behalf, even if the patient is unaware that a claim is being
  made. A DS1500 should be issued on request to the representative.</p>
  <div class="transaction">
    <p class="get-started group">
      <a id="ds1500-start" href="ds1500.html" class="button start-button" role="button">Start now </a>
    </p>
  </div>  
{% endblock %}

{% block secondary %}
{% endblock %}

{% block body_end %}

  {{ super() }}

  <script type="text/javascript">

  $('a.ds1500-download').on( "click", function(event) {
    $(this).next().removeClass('js-hidden');
    event.preventDefault;
  });

  </script>

{% endblock %}
