{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
  <h1 class="heading-xlarge">
    Send a fit note to DWP
  </h1>

  <p>
    Only use this service if you want to...
  </p>

  <p>
    You can use this service to send a fit note to DWP to support your benefit claim
  </p>

  <p>Before you start you will need</p>

  <ul class="list list-bullet">
    <li>Your paper fit note</li>
    <li>Your National Insurance number</li>
  </ul>

  <form action="{{ prototype.current.path }}/take-photo" method="post">

    <input type="hidden" name="journey" value="dynamic">

    <button type="submit" class="button">Start</button>

  </form>

{% endblock %}

{% block secondary %}
{% endblock %}
