// import resources
@import 'prototype/functions';
@import 'prototype/settings';
@import 'prototype/sass-mq';
@import 'prototype/grids';
@import 'prototype/generic';

#global-header-bar {
  display: none;
}

.column-full {
  @include grid-column(1 / 1);
}

// ds1500 styles
.help-notice {
  width: 100%;
  float: left;
  clear: both;
  padding: 0.1em 0 0.1em 1em;
  background: url(https://assets.digital.cabinet-office.gov.uk/static/icon-important-187bcc8d8a6d56498c4ac26cadad102d.png) no-repeat scroll 0 0.5em;
}
.help-notice p {
  padding: 0 1em 0 2em;
  font-weight: 600;
}
.declaration {
  background-position: 10px 15px;
  background-color: #eeeeee;
  padding-left: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.govuk-box-highlight {
  padding: 2em 2em 1em;
}
.govuk-box-highlight .button {
  background-color: $white;
  color: $black;
}

// Secondary button
.button-secondary {
  @include button($grey-3);
  padding: em(10) em(15) em(5) em(15);
}
