// import resources
@import 'prototype/functions';
@import 'prototype/settings';
@import 'prototype/sass-mq';
@import 'prototype/grids';
@import 'prototype/generic';

.camera-preview {
  display: block;
  position: relative;
  width: 100%;
  video, image, img {
    width: 100%;
    height: auto;
  }
}

.camera-snap {
  display: block;
  width: 100%;
  img {
    display: block;
    width: 100%;
  }
}

.preview-init {
  display: none;
}

.preview-box {
  * {
    box-sizing: border-box;
  }
  &__ui {
    display: none;
  }
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(#000,0.9);
  }
  &.active & {
    &__inner{
      width: 100%;
      height: 100%;
      position: relative;
      display: block;
    }
    &__image {
      width: 100%;
      height: 75%;
      position: absolute;
      top: 0;
      &__thumb {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        &__img {
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
    &__ui {
      background: white;
      padding: 20px;
      display: block;
      position: absolute;
      bottom: 0;
      height: 25%;
      width: 100%;
      p {
        margin: 0 0 10px 0;
        &:last-child {
          display: none;
        }
      }
    }
  }
}

img {
  max-width: 100%;
}

.alert-default {
  border-color: $light-blue;
  background-color: mix(white, $light-blue, 90%);
}
.alert-warning {
  border-color: $red;
  background-color: mix(white, $mellow-red, 90%);
}
.button-secondary {
  @include button($grey-3);

  @include media (mobile) {
    width: 100%;
    padding: 10px 15px 10px;
  }
}
.form-ID {
  @extend .form-date;
//  background: $govuk-blue;
//  margin: 15px 0;
//  padding: 15px;
//
  .form-group {
    position: relative;
  }

  .form-group:not(:last-of-type)::after {
    content: "-";
    font-weight: bold;
    display: inline;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0.7em,-50%);
  }
}
.govuk-box-permission {
  @extend .govuk-box-highlight;
  background: $govuk-blue;
  padding: 30px;

  .button {
    background: $white;
    color: $govuk-blue;
    font-weight: bold;
  }

  img {
    margin: 10px auto;
//    max-width: 80%;
//    width: auto;
  }

  p {
    text-align: left;
  }
}
.govuk-box-highlight {
  margin: 1em 0 1em -2em;
  padding: 2em 2em 1em;
  color: #fff;
  background: #28a197;
  text-align: left;
}

.note-id {
  border: 2px solid #6f777b;
  padding: 10px;
  // display: inline-block;
  * {
    box-sizing: border-box;
  }
  &__field {
    position: relative;
    &:after {
      content: '-';
      position: absolute;
      right: -0.5em;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1000;
    }
    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
  &__control {
    border: none;
    max-width: 100%;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    width: 100%;
  }
}

.alert-success {
  border-color: $turquoise;
  background-color: mix(white, $turquoise, 90%);
}

// To-do pattern
ul.completed > li {
  margin: 10px 0;
  padding: 20px 15px;
  background: #28a197;
  /* Fallback for older browsers without RGBA-support */
  background: rgba(40, 161, 151, 0.25);
  border-left: 6px solid #28A197;
  box-sizing: border-box;
  display: block;
}

ul.todo > li {
  margin: 10px 0;
  padding: 20px 15px;
  border-left: 5px solid $black;
  border-bottom: 1px solid $border-colour;
  background-color: $highlight-colour;
  box-sizing: border-box;
  display: block;
}

ul.todo > li > a {
  text-decoration: none;
}
ul.todo > li > a:hover {
  text-decoration: underline;
}
ul.todo > li ul.todo-tagged li {
  @include core-16;
  margin: 0 5px 5px 0;
  padding: 0.5rem;
  color: $secondary-text-colour;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
}
ul.todo > li ul.todo-tagged li.todo-assigned {
  background: $secondary-text-colour;
  color: $highlight-colour;
}
ul.todo > li a span, ul.todo > li span, ul.completed > li span {
  @include core-16;
  color: $secondary-text-colour;
  display: block;
}
ul.todo > li.overdue {
  border-left: 5px solid $error-colour;

  a span {
    color: $error-colour;
  }
}
ul.completed > li span {
  color: #28A197;
}
