// prototyping kit bundled stuff
@import 'bundled-styles';
// prototype specific styles
@import 'prototype';

img {
  max-width: 90%;
}

.alert-default {
  border-color: $light-blue;
  background-color: mix(white, $light-blue, 90%);
}
.button-secondary {
  @include button($grey-3);

  @include media (mobile) {
    width: 100%;
    padding: 10px 15px 10px;
  }
}
.form-ID {
  @extend .form-date;
//  background: $govuk-blue;
//  margin: 15px 0;
//  padding: 15px;

  .form-group:not(:last-of-type)::after {
    content: "-";
//    color: $white;
    display: inline;
    position: absolute;
    margin: 10px 0 0 5px;
  }

//  legend {
//    color: $white;
//  }
}
.govuk-box-permission {
  @extend .govuk-box-highlight;
  background: $govuk-blue;
  padding: 30px;

  .button {
    background: $white;
    color: $govuk-blue;
    font-weight: bold;
  }

  img {
    margin: 10px auto;
//    max-width: 80%;
//    width: auto;
  }

  p {
    text-align: left;
  }
}
