{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
  <h1 class="heading-xlarge">
    {{serviceName}}
  </h1>

  <p>
    Use this service to send a copy of your Statement of fitness to work to DWP.
  </p>

  <p>You'll need:</p>

  <ul class="list list-bullet">
    <li>Your paper copy</li>
    <li>Your National Insurance number</li>
  </ul>

  <form action="{{ prototype.current.path }}/take-photo" method="post">

    <input type="hidden" name="journey" value="dynamic">

    <button type="submit" class="button">I have my national insurance number</button>

  </form>

{% endblock %}

{% block secondary %}
{% endblock %}
