{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

  {% include "../../../../includes/error-summary.html" %}

  <h1 class="heading-large">
  </h1>

  <form action="{{ prototype.current.path }}your-address" method="post">

    <!-- National Insurance number -->
    <div class="form-group" data-required data-error="Enter your National Insurance number" >
      <label class="form-label-bold" for="niNumber">
        National Insurance number
        <!-- <span class="form-hint">
          For example, 'VO 12 34 56 D'.
        </span> -->
      </label>
      <input type="text" class="form-control" name="niNumber" id="niNumber" value="">
    </div>

    <!-- Mobile phone number -->
    <div class="form-group">
      <label class="form-label-bold" for="mobileNumber">
        Mobile number &ndash; if you want text reminders
        <!-- <span class="form-hint">
          If you want text reminders
        </span> -->
      </label>
      <input type="text" class="form-control" name="mobileNumber" id="mobileNumber" value="">
    </div>

    <!-- Primary buttons, secondary links -->
    <div class="form-group">
        <input type="submit" class="button" value="Continue">
        <!--a href="overview">I do not agree - leave now</a-->
    </div>

  </form>


{% endblock %}

{% block secondary %}
{% endblock %}

{% block body_end %}

  {{ super() }}

  <script src="/public/javascripts/validate.js"></script>

{% endblock %}
