{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

<form action="{{ prototype.current.path }}please-wait" method="post" enctype="multipart/form-data">

  <h1 class="heading-xlarge">
    Take picture of your fitnote
  </h1>

  <img src="/public/images/guide-barcode-scan-2x.png" width="50%" />

  <br>

  <div class="form-group">
    <a href="#" class="button fake-button" id="fake-input" style="width:100%;">Scan your fit note</a>
  </div>

  <div class="form-group visuallyhidden">
    <label class="form-label-bold" for="scan-barcode">Scan barcode</label>
    <input type="file" accept="image/*" class="button" id="scan-barcode" name="scan-barcode">
  </div>

</form>

<div id="display"></div>

{% endblock %}

{% block body_end %}

  {{ super() }}
  
  <script src="http://tenso.rs/tesseract.js"></script>

  <script language="JavaScript">

    var page = {
      
      file: '',

      handleUpload: function() {

        var self = this;
        var $input = $('#scan-barcode');
        var $fakeInput = $('#fake-input');

        if($input.length) {
          
          $input.on('change',function(e){
            window.location = 'please-wait';
          }); 

          $fakeInput.on('click', function(e){
            $input.trigger('click');
            e.preventDefault();
          });
        }

      },

      init: function() {
        var self = this;
        self.handleUpload();
      }

    }

    $(function(){
      page.init();
    });

	</script>

{% endblock %}