{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}

  {% include "../../../../includes/error-summary.html" %}

  <h1 class="heading-xlarge">
    Check your answers
  </h1>

  <div class="form-group">
    <table class="check-your-answers">

      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Your photo
            </h2>
          </th>

          <th class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">details</span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">
            <img src="/public/dummy-image.jpg" alt="" />
          </td>
        </tr>
      </tbody>


      <thead>
        <tr>
          <th colspan="2">
            <h2 class="heading-medium">
              Your details
            </h2>
          </th>

          <th class="change-answer">
            <a href="#">
              Change <span class="visuallyhidden">personal details</span>
            </a>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td width="40%">
            <b>National insurance number</b>
          </td>
          <td colspan="2">
            {{session.niNumber}}
          </td>
        </tr>
        <tr>
          <td>
            <b>Mobile number</b>
          </td>
          <td colspan="2">
            {{session.mobileNumber}}
          </td>
        </tr>
        <tr>
          <td>
            <b>Home address</b>
          </td>
          <td colspan="2">
            {{session.address}}
            <br>
            {{session.town}}
            <br>
            {{session.postCode}}
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="form-group">
    <a href="complete" class="button">Complete - Send</a>
  </div>

{% endblock %}

{% block secondary %}
{% endblock %}

{% block body_end %}

  {{ super() }}

  <script src="/public/javascripts/validate.js"></script>

{% endblock %}
