{% set page = {
  title: 'index',
  dev: true,
  secondary: false,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
  <div class="govuk-box-highlight">
    <h1 class="bold-xlarge">
      <img src="/public/images/icon-tick-circle@2x.png" width="40" alt="" />Sent
    </h1>
    <p></p>
  </div>

  <h2 class="heading-medium">
    What happens next
  </h2>

  {% if session.mobileNumber == "" %}

  <p>
    Your fit note will be processed within 24 hours.
  </p>

  <p>
     If there's a problem you'll be contacted.
  </p>

  {% else %}

  <p>
    You'll get text messages to:
  </p>

    <ul class="list list-bullet">
      <li>
        tell you that your fit note's been processed
      </li>
      <li>
        remind you to send another if you're still not well
      </li>
    </ul>

    <p>
      Your fit note will be processed within 24 hours.
    </p>

  <p>
     If there's a problem you'll be contacted.
  </p>

  {% endif %}



  <!-- <h2 class="heading-medium">
    Things you need to-do
  </h2>

  <h3 class="heading-small">If you are still unfit for work:</h3>

  <ul class="todo">
    <li style="background-color:#fff;border-bottom:none;">
      Visit your doctor to request a new Statement of fitness to work<span>before this one expires</span>
    </li>
    <li>
      <a href="https://dwp-designsprint.herokuapp.com/versions/design-sprint/version-01/app/index">
          Send us another Statement of fitness to work<span>to continue receiving benefits</span>
      </a>
    </li>
  </ul> -->

{% endblock %}

{% block body_end %}

  {{ super() }}

  <script type="text/javascript">

    var page = {

      handleConfirmation: function() {
        var self = this;
        var $confirmation = $('.mobile-confirmation'),

            $capture = $('.mobile-capture'),
            $captureInput = $('#mobile-number'),
            $captureButton = $('#mobile-submit');

        $captureButton.on('click', function(e){
          $confirmation.removeClass('js-hidden');
          $capture.addClass('js-hidden');
          e.preventDefault();
        })

      },

      init: function() {
        this.handleConfirmation();
      }
    }

    $(function(){
      page.init();
    });

  </script>

{% endblock %}
