{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
  <h1 class="heading-xlarge visuallyhidden">
    {{serviceName}}
  </h1>

  <p class="heading-medium">
    Use this service to send in a copy of your sick note for your Employment and Support Allowance claim.
  </p>

  <p>You'll need:</p>

  <ul class="list list-bullet">
    <li>your sick note</li>
    <li>your National Insurance number</li>
  </ul>

  <form action="{{ prototype.current.path }}/take-photo" method="post">

    <input type="hidden" name="journey" value="dynamic">

    <button type="submit" class="button">I have these</button>

  </form>

{% endblock %}

{% block secondary %}
{% endblock %}
