{% set page = {
  title: 'index',
  dev: true,
  secondary: false,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block content %}
<main id="content">
<div class="grid-row">
  <div class="column-full">
<h1 id="status" style="text-align:center;" class="heading-large">
  Scanning photos
</h1>

<div class="loading-circle">
  <div class="loading-circle1 loading-child"></div>
  <div class="loading-circle2 loading-child"></div>
  <div class="loading-circle3 loading-child"></div>
  <div class="loading-circle4 loading-child"></div>
  <div class="loading-circle5 loading-child"></div>
  <div class="loading-circle6 loading-child"></div>
  <div class="loading-circle7 loading-child"></div>
  <div class="loading-circle8 loading-child"></div>
  <div class="loading-circle9 loading-child"></div>
  <div class="loading-circle10 loading-child"></div>
  <div class="loading-circle11 loading-child"></div>
  <div class="loading-circle12 loading-child"></div>
</div>

<div style="text-align:center;" class="tick js-hidden">
  <img src="/public/images/icon-tick@2x.png" width="40" alt="" />
</div>

<p id="message" style="text-align:center;" class="">This should only take a moment.</p>

<p id="submit" style="text-align:center;" class="js-hidden"><a href="complete" class="button">Submit</a></p>

</div>
</div>
</main>

{% endblock %}

{% block body_end %}

  {{ super() }}

  <script language="JavaScript">

  setTimeout(function(){
document.getElementById("status").innerHTML = "Checking QR code";  }, 3000)

setTimeout(function(){
document.getElementById("status").innerHTML = "Checking fit note";  }, 6000)

setTimeout(function(){
  $('.tick').removeClass('js-hidden').addClass('zoomIn');
  $('.loading-circle').addClass('js-hidden');
  $('#message').addClass('js-hidden');
  $('#submit').removeClass('js-hidden');
  document.getElementById("status").innerHTML = "Checks complete";
  document.getElementById("message").innerHTML = "Your fit note is ready to send";
}, 9000);



  </script>

{% endblock %}
