{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
  <div class="govuk-box-highlight">
    <h1 class="bold-large">
      <span class="font-medium">
        Your fit note has been received<br>
      </span>
      It’s valid until 18 July 2016
    </h1>
    <p></p>
  </div>

  <h2 class="heading-medium">
    What happens next
  </h2>

  <p>
    You’ll need to provide another fit note by 19 July 2016 if you’re not able to work.
  </p>

  <p>
    Enter your mobile number to receive a reminder by text message.
  <p>

  <!-- Mobile number -->
  <div class="form-group">
    <label class="form-label-bold" for="mobile-number">Mobile number</label>
    <input type="text" class="form-control" id="mobile-number">
  </div>

  <a href="/" class="button">Send me a reminder</a>

{% endblock %}

{% block secondary %}
{% endblock %}
