{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
  <h1 class="heading-xlarge">
    Provide a fitnote
  </h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <p class="bold-large">
    You can either:
  </p>

  <h2 class="heading-medium">
    Let us get it direct from NHS
  </h2>

  <p>
    By providing some details and giving your permission your fitnote can be obtained automatically from the NHS.
  </p>

  <a href="your-details" class="button">Go for it</a>

  <h2 class="heading-medium">
    Enter fitnote online
  </h2>

  <p>
    Enter a few details from your paper note online and we can get the rest.
  </p>

  <a href="your-details" class="button">Start!</a>

  <h2 class="heading-medium">
    Scan the barcode using your mobile device
  </h2>

  <p>
    Use the camera on your mobile device to scan the barcode on your paper note and we can get the information instantly.
  </p>

  <a href="scan-barcode" class="button">Start</a>

  <h2 class="heading-medium">
    Post your fitnote
  </h2>

  <p>
    If you still want to post your fitnote, please address to:
  </p>

  <p class="bold-small">
    12 Barrow Home, Wembley, London, WF5 7RT
  </p>

  <p style="color:red;">
    Beware! This is likely to get lost. Very lost!
  </p>


{% endblock %}

{% block secondary %}
{% endblock %}
