{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
  <h1 class="heading-xlarge">
    Provide a fit note
  </h1>

  <p>
    If you need to give the Department for Work and Pensions (DWP) a fit note, you can send it to them online.

  </p>

  <p>
    You can either:
  </p>

  <form action="{{ prototype.current.path }}/your-details" method="post">

    <input type="hidden" name="journey" value="dynamic">

    <h2 class="heading-medium">
      Let the DWP get it directly from the NHS
    </h2>

    <p>
      By providing some details your fit note can be accessed from the NHS systems. You’ll be asked for your permission first.
    </p>

    <button type="submit" class="button">Start</button>

  </form>

  <form action="{{ prototype.current.path }}/scan-barcode" method="post">

    <input type="hidden" name="journey" value="barcode">

    <h2 class="heading-medium">
      Use your mobile phone to scan your paper fit note
    </h2>

    <p>
      Use the camera on your mobile phone to scan the barcode on your paper fit note. You’ll see your digital fit note, then can send it instantly.
    </p>

    <button type="submit" class="button">Start</button>

  </form>

  <form action="{{ prototype.current.path }}/your-details" method="post">

    <input type="hidden" name="journey" value="manual">

    <h2 class="heading-medium">
      Enter the unique code from your fit note
    </h2>

    <p>
      Fill in your details and the unique code from your paper fit note to see your digital fit note - then send it instantly.
    </p>

    <button type="submit" class="button">Start</button>

  </form>

  <h2 class="heading-medium">
    Post your fit note
  </h2>

  <p>
    You can post your fit note to:
  </p>

  <p>
    12 Barrow Home<br>
    London<br>
    W5 7JT
  </p>

  <div class="panel panel-border-wide alert-default">
    <p class="bold-medium">
      Don’t post your fit note unless you have to - it’s cheaper, quicker and safer to send it online.
    </p>
  </div>

{% endblock %}

{% block secondary %}
{% endblock %}
