{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block main %}

  <div class="govuk-box-permission">

    <div class="grid-row">
      <div class="column-one-third">

        <img src="/public/images/dwp-nhs-group-2x.png" />

      </div>
      <div class="column-two-thirds">

        <h1 class="hidden">
          Request for permission
        </h1>

        <p class="font-medium">
          The Department for Work and Pensions needs your permission to connect to the National Health Service to:
        </p>

        <p class="bold-medium">
          View your last fitnote.
        </p>

        <p>
          <a href="your-fitnote" class="button">I give permission</a>
        </p>

      </div>
    </div>

  </div>

{% endblock %}
