{% set page = {
  title: 'index',
  dev: true,
  secondary: true,
  html_classes: ['page-class']
} %}

{% extends page.layout | d(prototype.current.layout) %}

{% block primary %}
  <h1 class="heading-xlarge">
    Your fit note
  </h1>

  <p class="bold-medium">
    <span class="font-small">
      Patient's name<br>
    </span>
    Mickey Mouse
  </p>

  <p class="bold-medium">
    <span class="font-small">
      Because of the following condition(s)<br>
    </span>
    Stress and stuff
  </p>

  <div class="panel panel-border-wide alert-default">
    <p class="bold-medium">
      You are not fit for work
    </p>
  </div>

  <p class="bold-medium">
    <span class="font-small">
      This will be the case for<br>
    </span>
    2 weeks
  </p>

  <p class="bold-medium">
    <span class="font-small">
      From<br>
    </span>
    4 July 2016
  </p>

  <p class="bold-medium">
    <span class="font-small">
      To<br>
    </span>
    18 July 2016
  </p>

  <p class="bold-medium">
    <span class="font-small">
      Doctor's address<br>
    </span>
    The Grove Surgery<br>
    Thornhill Street<br>
    Wakefield<br>
    WF1 1PG
  </p>

  <p>
    Do you want to continue and submit this?
  </p>


  <a href="confirmation" class="button">Yes do it</a>&nbsp;<a href="" class="button button-secondary">No way</a>


{% endblock %}

{% block secondary %}
{% endblock %}
