{% set page = {
  title: prototype.current.version,
  dev: false
} %}

{% extends "layouts/dwp_layout.html" %}

{% block primary %}

  <h1 class="heading-xlarge">{{ prototype.current.version }}</h1>
  
  {% block version_details %}
    <p>This should be populated with notes specific to this iteration/version of the prototype</p>
  {% endblock %}
  
  {% block version_cta %}
    <p><a class="button" href="{{ prototype.current.path | d('#path-not-set') }}" role="button">Launch {{ prototype.current.version }}</a></p>
  {% endblock %}
  
{% endblock %}